body {
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 55px 1px 0 1px;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: #A7E9AF;
    border: 1px solid #75B79E;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
}

.clock span {
    font-size: 10px;
    font-weight: 300;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}

.disableCard {
    pointer-events: none;
}

li {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 25px;
    transition: all 500ms linear;
}

.back {
    transform: rotateY(180deg);
}